* {
  box-sizing: border-box;
  user-select: none;
}

/* display: -webkit-box;
-webkit-box-align: center;
overflow: overlay; */

body {
  height: 98vh;
  width: 96vw;
  margin: 2vh auto 0px;
  padding: 0px;
  background-color: rgb(64, 64, 228);
  max-width: 1250px;
}
p {
  margin: 0;
}
h1 {
  color: white;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 10px;
}

#top {
  height: 20%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  background: rgb(64, 64, 228);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
#main_title {
  /* background-color: red; */
  height: 45%;
  width: 60%;
  align-self: center;
  text-align: center;
}

#searchbar_div {
  background-color: rgba(0, 0, 142, 0.585);
  height: 45%;
  width: 90%;
  align-self: center;
  border-radius: 10px;
  padding: 10px 10px;
}
#middle {
  height: 40%;
  display: flex;
  flex-direction: column;
  background-color: rgb(64, 64, 228);
}
#middle_title {
  height: 15%;
  display: flex;
}
#middle_lasts {
  display: flex;
  height: 85%;
}
.book {
  height: 200px;
  width: 200px;
  background: white url("..\\images\\book.png") no-repeat;
  background-size: contain;
  margin: 20px 15px;
  border-radius: 20px;
  text-align: center;
  line-height: 300px;
  color: aliceblue;
  text-shadow: 0 0 2px black;
}
.new {
  background-color: rgb(116, 243, 109);
}
.category {
  background-color: aliceblue;
  height: 40px;
  width: 100%;
  list-style: none;
  text-align: center;
  line-height: 40px;
  border: solid 1px white;
}
.category:hover {
  background-color: darkgray;
}
ul {
  padding: 0px;
  margin: 0;
}
#add_new {
  width: 25%;
  display: flex;
  justify-content: center;
}
#last_added {
  width: 75%;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  flex-wrap: wrap;
  justify-content: space-evenly;
  /* background: red; */
}
#middle_search {
  height: 85%;
}
#search_text {
  height: 100%;
  width: 100%;
  font-size: 30px;
  outline: none;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  color: rgb(213, 213, 213);
}
.last_added {
  width: 75%;
}
.add_new{
  width: 25%;
}
.add_new, .last_added {
  align-self: center;
  color: white;
  display: flex;
  justify-content: center;
}
.search_results {
  display: none;
}
#div_new_book.hidden,
#show_book.hidden {
  z-index: -1;
  opacity: 0;
  transition: 200ms;
  position: absolute;
  top: 0px;
}
#overlay.hidden {
  z-index: -1;
  opacity: 0;
}
#overlay {
  opacity: 1;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.374);
  position: absolute;
  top: 0;
  right: 0;
}
#div_new_book {
  transition: 200ms;
  opacity: 1;
  height: 80vh;
  width: 30vw;
  background-color: lightskyblue;
  margin: 80px auto;
  border-radius: 15px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
#show_book {
  transition: 200ms;
  opacity: 1;
  margin: 80px auto;
  height: 80vh;
  width: 50vw;
  background-color: lightskyblue;
  border-radius: 15px;
}

textarea {
  resize: none;
}
#bottom {
  height: 40%;
  display: flex;
}
#book_categories {
  width: 25%;
  overflow-y: scroll;
  border-top-left-radius: 20px;
  /* border: solid 1px; */
}
#category_books {
  width: 75%;
  display: -webkit-box;
  -webkit-box-align: center;
  overflow: overlay;
  border-top-right-radius: 20px;
  background-color: aliceblue;
}
